In [5]:
#Conditional operator
a=50
b=50
if a>b:
    print(a)
elif a==b:
    print("equal")
else:
    print(b)

equal

In [9]:
#Nested loop
a=10
b=40
c=20
if a>b:
    if a>c:
     print("a")
    else:
     print("c")
else:
    if b>c:
        print("b")
    else:
        print("c")

b

In [14]:
#LOOP
n=1
while n<=10:
    if n==6:
        n=n+1 #incriment
        continue
    print(n)
    n=n+1 #incriment
print("done")

1
2
3
4
5
7
8
9
10
done

In [16]:
# For loop
for i in range(10): #(0,10,1) (initialization,condition,post statement)
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
for i in range(5,20,5):
    print(i)

5
10
15

In [18]:
veg=["tomato","potato","ladyfingure"]
for v in veg:
    print(v)

tomato
potato
ladyfingure

In [19]:
dict={'A':'a','B':'b','C':'c'}
for letter in dict.values():
    print(letter)

a
b
c

In [20]:
m=1
n=10
while m<=10:
    print(n,'x',m, '=',n*m)
    m=m+1

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [27]:
#Function
def my_pet(name): #parameter
    return name   #output

In [28]:
my_pet("tiger")

'tiger'

In [29]:
#Lamda function
sum=lambda a,b:a+b
sum(10,15)

25

In [30]:
#map function
l=[1,2,3,4,5]
square=lambda n:n*n
new=map(square,l)
m=set(new)
print(m)

{1, 4, 9, 16, 25}