7. Read the wine.csv dataset as Pandas DataFrame and show (in another notebook):
- head()
- Show the entry of the 7th row, the last column.
- Save the 1st 10 rows as a Pickle file.

In [6]:
import pandas as pd
import numpy as np
wine=pd.read_csv('..\Mentor file github file\Course 1. Python for Data Science & Machine Learning\datasets\wine.csv',header=None)
wine.head(10)

,0,1,2,3,4,5
0,NaN,item_code,item_name,display_level,selectable,sort_sequence
1,0.0,AA0,All items - old base,0,T,2
2,1.0,AA0R,Purchasing power of the consumer dollar - old ...,0,T,400
3,2.0,SA0,All items,0,T,1
4,3.0,SA0E,Energy,1,T,375
5,4.0,SA0L1,All items less food,1,T,359
6,5.0,SA0L12,All items less food and shelter,1,T,362
7,6.0,SA0L12E,"All items less food, shelter, and energy",1,T,363
8,7.0,SA0L12E4,"All items less food, shelter, energy, and used...",1,T,364
9,8.0,SA0L1E,All items less food and energy,1,T,360

In [18]:
#Show the entry of the 7th row, the last column.

print(wine.iloc[7,-1]) #loc[row_index_OR_NAME,col_index_OR_NAME] and iloc only index number

363

In [17]:

#Save the 1st 10 rows as a Pickle file.

wine2=wine.iloc[0:9] #row er index akane, column nai column thakle koma lage
print(wine2)

     0          1                                                  2  \
0  NaN  item_code                                          item_name
1  0.0        AA0                               All items - old base
2  1.0       AA0R  Purchasing power of the consumer dollar - old ...
3  2.0        SA0                                          All items
4  3.0       SA0E                                             Energy
5  4.0      SA0L1                                All items less food
6  5.0     SA0L12                    All items less food and shelter
7  6.0    SA0L12E           All items less food, shelter, and energy
8  7.0   SA0L12E4  All items less food, shelter, energy, and used...

               3           4              5
0  display_level  selectable  sort_sequence
1              0           T              2
2              0           T            400
3              0           T              1
4              1           T            375
5              1           T            359
6              1           T            362
7              1           T            363
8              1           T            364

In [19]:
wine2.to_pickle('pick.pkl')
wine3=pd.read_pickle('pick.pkl')
print(wine3)

     0          1                                                  2  \
0  NaN  item_code                                          item_name
1  0.0        AA0                               All items - old base
2  1.0       AA0R  Purchasing power of the consumer dollar - old ...
3  2.0        SA0                                          All items
4  3.0       SA0E                                             Energy
5  4.0      SA0L1                                All items less food
6  5.0     SA0L12                    All items less food and shelter
7  6.0    SA0L12E           All items less food, shelter, and energy
8  7.0   SA0L12E4  All items less food, shelter, energy, and used...

               3           4              5
0  display_level  selectable  sort_sequence
1              0           T              2
2              0           T            400
3              0           T              1
4              1           T            375
5              1           T            359
6              1           T            362
7              1           T            363
8              1           T            364