In [10]:
'''1. Reverse a list. '''
list=['EEE','CSE','ECE']   
list.reverse()
print(list)

['ECE', 'CSE', 'EEE']

In [4]:
'''2. Concatenate two lists index-wise.
Input: 
list1 = ["W", "wi", "Dre", "b"]
list2 = ["e", "ll", "am", "ig"]
Output: 
['We', 'will', 'Dream', 'big']'''


list1 = ["W", "wi", "Dre", "b"]
list2 = ["e", "ll", "am", "ig"]
list3=[]
for i in range(len(list1)):
    list3.append(list1[i]+list2[i])#akane i diye list er length ojhacca
print(list3)

['We', 'will', 'Dream', 'big']

In [13]:
'''3. Turn every number of a list into its square.'''
list1=[1,2,3,4]
list2=[i**2 for i in list1 ]
print(list2)

[1, 4, 9, 16]

In [21]:
'''4. Remove empty strings from the list of strings.
Input: 
["Code", " ", "Studio", "Academy", " "]
Output:  
["Code", "Studio", "Academy"]'''

my_list=["Code", " ", "Studio", "Academy", " "]
new_list=[]
for i in my_list:
    if " " not in i:
        new_list.append(i)
print(new_list)

['Code', 'Studio', 'Academy']

In [26]:
'''5.  Add a list of elements to a set. [Hint: use update() ]
Input: 
set = {"Yellow", "Orange", "Black"} 
list = ["Blue", "Green", "Red"]
Output: 
{'Green', 'Yellow', 'Black', 'Orange', 'Red', 'Blue'} '''

set = {"Yellow", "Orange", "Black"} 
list = ["Blue", "Green", "Red"]
set.update(list)
print(set)

{'Yellow', 'Green', 'Black', 'Red', 'Orange', 'Blue'}

In [27]:
'''6. Return a set of elements present in Set A or B, but not both.'''
A={1,2,3,4}
B={3,4}
print(A.difference(B))

{1, 2}

In [28]:
'''7. Convert two lists into a dictionary.
Input: 
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
Output: {'Ten': 10, 'Twenty': 20, 'Thirty': 30}'''
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
D=dict(zip(keys,values))
print(D)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [29]:
'''8. Merge two Python dictionaries into one.
Input: 
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30} 
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
Output: 
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}'''

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30} 
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3={**dict1,**dict2}
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [33]:
'''9. Rename a key of a dictionary.'''

a={'NAME':'TIRTHO','DEPT':'EEE','VERSITY':'HSTU'}
a['depertment']=a.pop('DEPT')
print(a)

{'NAME': 'TIRTHO', 'VERSITY': 'HSTU', 'depertment': 'EEE'}

In [ ]:
'''10. Sort a tuple of tuples by 2nd item.'''
##pro